{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>温州市文化市场行政执法支队</title>
    <link href="{{STATIC_PREFIX}}bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_PREFIX}}bootstrap/dist/css/dashboard.css" rel="stylesheet">
    <script src="{{STATIC_PREFIX}}jquery/jquery.js"></script>
    <script src="{{STATIC_PREFIX}}bootstrap/dist/js/bootstrap.js"></script>
	<style type="text/css">
		.nav-sidebar > .active > a:hover{background-color:#3276b1}
		.snav li{padding-left:15px;}
		.snav li a{font-size:12px;}
	</style>
</head>

<body >
    <!-- 固定头 -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">温州市文化市场行政执法支队</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                {%if user.is_staff%}
                <li><a href="/admin">系统设置</a></li>
                {%endif%}
                <li><a href="#">当前用户：{{USER_NAME}}</a></li>
                <li><a href="#">当前IP：{{USER_IP}}</a></li>
                <li><a href="{%url 'logoff'%}">退出</a></li>
              </ul>
            </div>
          </div>
        </div>
    <div class="container-fluid">
          <div class="row">
                <!-- 边栏 -->
                <div class="col-sm-3 col-md-1 sidebar">
                  <ul class="nav nav-sidebar">
                    <li class={{home_active}}><a href="{%url 'home'%}">概述</a></li>
                    <li class={{data_active}}>
						<a href="{%url 'data'%}">数据</a>
						<ul class="nav snav">
							<li><a href="/data/?icpno=&state=0&cate=&ip=">未处理</a></li>
							<li><a href="/data/?icpno=&state=4&cate=&ip=">已处理</a></li>
							<li><a href="/data/?icpno=&state=2&cate=&ip=">涉嫌违规</a></li>
							<li><a href="/data/?icpno=&state=6&cate=&ip=">域名更新</a></li>
						  </ul>
					</li>
                    <li class={{ips_active}}><a href="{%url 'ips'%}">IP库</a></li>
                    {%if perms.wzauth.can_manage_area %}
                    <!-- <li class={{area_active}}><a href="{%url 'areas'%}">区域管理</a></li> -->
                    {%endif%}
                    {%if perms.wzauth.can_see_log%}
                    <li class={{logs_active}}><a href="{%url 'logs'%}">系统日志</a></li>
                    {%endif%}
                    <li ><a href="http://fs.teabox.cc:9092/logtail/bing%3Aip_bing">实时扫描</a></li>
                  </ul>
                </div>
                <!-- 主要内容 -->
                <div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main">
                {% block mod_content%}
                
                {%endblock%}
                </div>  
            </div>
    </div>
    {%block jsset %}
    {%endblock%}
    {{foot_mod}}
    </body>

</html>
