{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>温州市文化市场行政执法支队</title>
    <meta name="description" content="温州市文化市场行政执法支队">
    <meta name="author" content="Mark">
    <link href="{{STATIC_PREFIX}}bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_PREFIX}}bootstrap/dist/css/dashboard.css" rel="stylesheet">
    {{css_set}}
    <script src="{{STATIC_PREFIX}}jquery/jquery.js"></script>
    <script src="{{STATIC_PREFIX}}bootstrap/dist/js/bootstrap.js"></script>

    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>登录系统</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="{{STATIC_PREFIX}}css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="page-header signin-header" >
          
           <h1>
            温州市文化市场行政执法支队
            </h1>
    </div>
    <div class="container" style="min-height: 400px">
      
      <div class="row">
      <form class="form-signin" role="form" method="POST" action="{%url 'login'%}">
          {% csrf_token %}
          <input name="username" type="username" class="form-control" placeholder="UserName" required autofocus>
          <input name="password" type="password" class="form-control" placeholder="Password" required>

        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>
      <p class="text-muted text-center">为保证最好的使用效果，请使用Google Chrome浏览器</p>
      </div>
      

    </div> <!-- /container -->
    <footer>
      <div class="fluid-container" style="width: 100%; height: 60px">
        <div class="row">
          <p class="text-center">703804.com</p>
          <p class="text-center">技术支持电话:88873703</p>
        </div>
      </div>

    </footer>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
