{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block mod_content%}
<h1 class="page-header">数据</h1>
<div >
    {{filter_section}}
</div>
<table class="table ">
    <thead>
        <tr>
            <td>host</td>
            <td>ip</td>
            <td>审核状态</td>
            <td>操作</td>
            <td>网站分类</td>
        </tr>

    </thead>
    <tbody>
    {%for d in objects %}
        <tr>
            <td><a href="{{d.uri}}">{{d.uri}}</a></td>
            <td>{{d.ip}}</td>
            <td>{{d.get_state_display}}</td>
            <td><a href="{% url 'detail' pk=d.id %}">详情</a></td>
            <td>{{d.cate|default:""}}</td>
        </tr>
    
    {%endfor%}
        
    </tbody>

</table>

{{pagination}}

{%endblock%}