{% extends 'base.html' %}
{% load crispy_forms_tags %}

{%block mod_content%}
<h1 class="page-header">域名数据 </h1>
<div >
    {{filter_section}}
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="J_Edit_Data">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="J_Edit_Data_Content" style="width:800px">
      
    </div>
  </div>
</div>
<table class="table ">
    <thead>
        <tr>
            <td>host</td>
            <td>ip</td>
            <td>审核状态</td>
            <td>网站分类</td>
            <td>标题</td>
            <td>备案号</td>
            <td>站点状态</td>
            <td>区域</td>
            <td>操作</td>
        </tr>

    </thead>
    <tbody>
    {%for d in objects %}
        <tr>
            <td title="{{d.uri}}" ><a href="http://{{d.uri}}" target="_blank">{{d.uri|truncatechars:16}}</a></td>
            <td>{{d.ip}}</td>
            <td><button title="处理意见" data-content="{{d.related_law.law|default:"无"}} : {{d.related_law.detail|default:"无"}}" type="button" class="btn btn-sm btn-link popover-dismiss" data-toggle="popover">{{d.get_state_display}}</button></td>
            <td>{{d.cate|default:""}}</td>
            <td title="{{d.title}}">{{d.title|truncatechars:10}}</td>
            <td>
              <button title="主办单位：{{d.organizers}}" data-content="单位性质：{{d.cate|default:""}}； 网站名称：{{d.title}}；审核时间：{{d.dataactionrecord_set.last.time|date:"Y-m-d H:i"}}" type="button" class="btn btn-sm btn-link popover-dismiss" data-toggle="popover">{{d.icpno|default:''}}</button>
            </td>
            <td host="http://{{d.uri}}" class="J_Host" >
                <span class="J-Status-Wait">等待...</span>
                <span class="hidden J-Status-Success">正常</span>
                <span class="hidden J-Status-Error" >异常</span> 
            </td>
            <td>{{d.area.name|default:''}}</td>
            <td><button  data-toggle="modal" data-target="#J_Edit_Data" class="btn btn-link J_Edit_Button" id="{{d.id}}" url="{%url "edit_data" pk=d.id%}">编辑</button></td>
        </tr>
    
    {%endfor%}
        
    </tbody>

</table>

{{pagination}}

<script type="text/javascript">

    // 获取每条数据的状态
    $(".J_Host").each(function(){
        var serverUrl = $(this).attr("host")
        var td = $(this)
        $.ajax(serverUrl, {
           type: "GET",
           dataType: 'jsonp',
           statusCode: {
              200: function (response) {
                td.children(".J-Status-Wait").addClass("hidden")
                td.children(".J-Status-Success").removeClass("hidden")

              },
              400: function (response) {
                td.children(".J-Status-Wait").addClass("hidden")
                td.children(".J-Status-Error").removeClass("hidden")
              },
              404: function (response) {
                td.children(".J-Status-Wait").addClass("hidden")
                td.children(".J-Status-Error").removeClass("hidden")

              }
           }, 
           error: function(data){
                if (data['status'] != 200){
                   td.children(".J-Status-Wait").addClass("hidden")
                   td.children(".J-Status-Error").removeClass("hidden")
                }
            },
           success: function () {
           },
           timeout: 3000 
        });



          });

    $('.popover-dismiss').popover({
      trigger: 'focus'
    })
    $(".J_Edit_Button").on("click", function(e) {
            var b_id = $(this).attr("id");
            var b_url = $(this).attr("url");
            $.ajax(b_url,
            {
                type:"GET",
                success: function (data) {
                    $("#J_Edit_Data_Content").html(data)
           },

            })
        });
      
</script>

{%endblock%}