{% extends 'base.html' %}

{%block mod_content%}
<h1 class="page-header">打印数据</h1>

<table>
<tr>
	<td>域名</td>
	<td col="3">{{object.uri}}</td>
</tr>
<tr>
	<td>站点名称</td>
	<td col="3">{{object.title}}</td>
</tr>
<tr>
	<td>IP</td>
	<td>{{object.ips_id.ip}}</td>
	<td>站点类别</td>
	<td>{{object.cate|default:""}}</td>
</tr>
<tr>
	<td>接入商</td>
	<td col="3">{{object.IPS_net|default:""}}</td>
</tr>
<tr>
	<td>区域</td>
	<td>{{d.ips_id.area.name|default:''}}</td>
	<td>备案号</td>
	<td>{{object.icpno|default:''}}</td>
</tr>
<tr>
	<td>主办单位</td>
	<td col="3">{{object.organizers|default:""}}</td>
</tr>
</table>

<div class="panel panel-default">
  <div class="panel-heading">处理意见：{{object.related_law.law}}</div>
  <div class="panel-body">
    <p>{{object.related_law.detail|default:"无"}}</p>
  </div>

  <div class="panel-footer">备注：{{object.beizhu}}</div>
</div>

{%endblock%}
