{% extends 'base.html' %}

{%block mod_content%}
<h1 class="page-header">打印数据</h1>
<table class="table ">
    <thead>
        <tr>
            <td>ip</td>
            <td>host</td>
            <td>审核状态</td>
            <td>标题</td>
            <td>类别</td>
            <td>备案号</td>
            <td>主办单位</td>
            <td>区域</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{object.ip}}</td>
            <td><a href="http://{{object.uri}}" target="_blank">{{object.uri}}</a></td>
            <td>{{object.get_state_display}}</td>
            <td>{{object.title}}</td>
            <td>{{object.cate|default:""}}</td>
            <td>{{object.icpno|default:''}}</td>
            <td>{{object.organizers|default:""}}</td>
            <td>{{d.ips_id.area.name|default:''}}</td>
        </tr>
    </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">处理意见：{{object.related_law.law}}</div>
  <div class="panel-body">
    <p>{{object.related_law.detail|default:"无"}}</p>
  </div>

  <div class="panel-footer">备注：{{object.beizhu}}</div>
</div>

{%endblock%}