{% extends 'base.html' %}

{%block mod_content%}
{%if objects%}
<h3 class="page-header">查询结果</h3>
<table class="table ">
    <thead>
        <tr>
            <td>ip</td>
            <td>host</td>
            <td>标题</td>
            <td>备案号</td>
            <td>主办单位</td>
        </tr>
    </thead>
    <tbody>
        {%for object in objects%}
        <tr>
            <td>{{object.ips_id.ip}}</td>
            <td>{{object.uri}}</td>
            <td>{{object.title}}</td>
            <td>{{object.icpno}}</td>
            <td>{{object.organizers}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%else%}
<div class="well">
    <div class="pull-center"> 
        <h3>出错啦</h3>
        <p>抱歉，该IP下没有解析域名<b><a href="{%url 'ips'%}">返回</a></b></p>
    </div>
</div>
{%endif%}
{{pagination}}

{%endblock%}