{% extends 'base.html' %}

{%block mod_content%}
<style type="text/css">
    .search-block {padding: 20px}
    .ips-table {padding: 10px}
</style>
<h2 class="page-header">IP库 <small> 总数：{{total_count}}</small></h2>


<div class="search-block">
    <form class="form" role="search" action="{%url "search_ip" %}" method="get">
        <div class="col-lg-5">
            <div class="input-group">
              <input name="ip" type="text" class="form-control" placeholder="查询: ip " value={{ip}}>
              <span class="input-group-btn">
                <button class="btn btn-default"  type="submit">Go</button>
              </span>
            </div>
        </div>
    </form> 
</div>
{%for ip in ips %}
<p>
{{ip.ip}}
</p>
{%endfor%}
<table class="table ips-table">
    <thead>
        <tr>
            <td>ip</td>
            <td>区域</td>
        </tr>

    </thead>
    <tbody>
    {%for obj in objects %}
        <tr>
            <td>{{obj.ip}}</td>
            <td>{{obj.area.name}}</td>
        </tr>
    
    {%endfor%}
        
    </tbody>

</table>

{{pagination}}

{%endblock%}